dtd_xsd/fastaDTD.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT description (sequences, organisme, date, machine, other_informations?)>
<!ELEMENT sequences (sequence+)>
<!ELEMENT sequence (sequence_id, sequence_value)>
<!ELEMENT sequence_id (#PCDATA)>
<!ELEMENT sequence_value (#PCDATA)>

<!ELEMENT organisme (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT machine (#PCDATA)>
<!ELEMENT other_informations ANY>
